*{
    margin: 0;
    padding: 0;
}
.lobster-font{
  font-family: "Lobster", sans-serif;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
/* banner styles */
.navar{
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
    text-align: center;
    align-items: center;
}
hr{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
}
.menu a{
    padding-left: 60px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    letter-spacing: -2%;
}
.icons img{
    padding-left: 40px;
}
.dot{
    color: rgb(255, 166, 0);
}

/* banner styles stared */
.banner{
    margin-top: 40px;
    width: 50%;
    height: 640px;
    background-color: #E7F9FD;
    margin-left: 80px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    margin-bottom: 160px;
}
.banner-image{
    display: flex;
    flex-direction: row-reverse;
}
.banner-image img{
    width: 100%;
  height: 100%;
  object-fit: cover;    /* image crop/fit হবে */
  display: block;
}
.banner-text{
    padding-left: 50px;
}
.banner-text h1{
    font-size: 64px;
    font-weight: 600;
    padding-top: 32px;
    letter-spacing: -4%;
    width: 520px;
}
.banner-text p{
    font-size: 18px;
    line-height: 28px;
    padding-top: 24px;
    color: rgba(0, 0, 0, 0.6);
    width: 520px;
    margin-bottom: 30px;
}
.top-button{
    padding-top: 50px;
}
.top-button >button{
    display: flex;
    background-color: white;
    border: none;
    border-radius: 40px;
    margin-left: 50px;
    width: 156px;
    height: 45px;
    align-items: center;
    box-shadow: 10px 20px 40px #2940461e;
}
.top-button img{
    width: 24px;
    height: 24px;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 10px;
}
.top-button p{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -2%;
    padding-left: 15px;
}
.button-sector{
    display: flex;
}
.btn-2, .btn-3{
    display: flex;
    width: 139px;
    height: 40px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 30px;
    margin-left: 50px;
    margin-bottom: 104px;
}
.btn-2 img, .btn-3 img{
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
}
.btn-2 p, .btn-3 p{
    padding-top: 11px;
    padding-right: 16px;
    padding-bottom: 12px;
    font-size: 14px;
    letter-spacing: -2%;
    color: #0000009c;
    font-weight: 500;
}
.men-section{
    display: flex;
    margin-left: 50px;
    align-items: center;
}
.men-text{
    margin-left: 16px;
}
.men-text h5{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -2%;
    margin-bottom: 7px;
}
.men-text p{
    font-size: 14px;
    font-weight: 500;
    color: #00000074;
}
.btn-4 > button{
    display: flex;
    background-color: #000000;
    color: white;
    align-items: center;
    position: relative;
    left: 250px;
    border: none;
    border-radius: 15px;
}
.btn-4 > button p{
    padding-top: 21px;
    padding-bottom: 22px;
    padding-left: 37px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 600;
}
.btn-4 img{
    padding-right: 36px;
}