*{
    margin: 0;
    padding: 0;
}
.lobster-font{
  font-family: "Lobster", sans-serif;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
/* banner styles */
.navar{
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
    text-align: center;
    align-items: center;
}
hr{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
}
.menu a{
    padding-left: 60px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    letter-spacing: -2%;
}
.icons img{
    padding-left: 40px;
}
.dot{
    color: rgb(255, 166, 0);
}

/* banner styles stared */
.badge{
    position: absolute;
    top: 250px;
    left: 650px;
}
.banner-section{
    max-width: 1340px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    margin-bottom: 160px;
    margin-left: 40px;
    justify-self: center;
}
.banner-left{
    width: 620px;
    height: 640px;
    background-color: #E7FAFE;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}
.banner-text{
    padding-left: 50px;
}
.banner-text h1{
    font-size: 64px;
    font-weight: 600;
    padding-top: 32px;
    letter-spacing: -4%;
    width: 520px;
}
.banner-text p{
    font-size: 18px;
    line-height: 28px;
    padding-top: 24px;
    color: rgba(0, 0, 0, 0.6);
    width: 520px;
    margin-bottom: 30px;
}
.top-button{
    margin-top: 50px;
}
.top-button{
    display: flex;
    background-color: white;
    border: none;
    border-radius: 40px;
    margin-left: 50px;
    width: 156px;
    height: 45px;
    align-items: center;
    box-shadow: 10px 20px 40px #2940462a;
}
.top-button img{
    width: 24px;
    height: 24px;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 10px;
}
.top-button p{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -2%;
    padding-left: 15px;
}
.btn-sector{
    display: flex;
    height: 60px;
}
.btn-1, .btn-2{
    display: flex;
    width: 139px;
    height: 40px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 30px;
    margin-left: 50px;
}
.btn-1 img, .btn-2 img{
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
}
.btn-1 p, .btn-2 p{
    padding-top: 11px;
    padding-right: 16px;
    padding-bottom: 12px;
    font-size: 14px;
    letter-spacing: -2%;
    color: #0000009c;
    font-weight: 500;
}
.men-section{
    display: flex;
    margin-left: 50px;
    margin-top: 70px;
    align-items: center;

}
.men-text{
    margin-left: 16px;
}
.men-text h5{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -2%;
    margin-bottom: 7px;
}
.men-text p{
    font-size: 14px;
    font-weight: 500;
    color: #00000074;
}
.btn-3 > button{
    display: flex;
    background-color: #000000;
    color: white;
    align-items: center;
    position: relative;
    left: 150px;
    border: none;
    border-radius: 15px;
}
.btn-3 > button p{
    padding-top: 21px;
    padding-bottom: 22px;
    padding-left: 37px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 600;
}
.btn-3 img{
    padding-right: 36px;
}

/* Categories section */
.categories-section{
    margin-bottom: 183px;
}
.categories-title{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
}
.categories-section h1{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -4%;
}
.btn-5{
    width: 200px;
    height: 60px;
    background-color: #E7FAFE;
    border: none;
    border-radius: 16px;
}
.btn-5 p{
    font-size: 16px;
    font-weight: 600;
}
.categories-card{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    gap: 40px;
}
.categories-card p{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -2%;
    padding-top: 50px;
}
.categories-1{
    width: 180px;
    height: 202px;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(180deg, #FCFDFB 0%, #F3F4EF 100%);
}
.categories-2{
    width: 180px;
    height: 202px;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(180.00deg, rgba(108, 198, 63, 0) 0%,rgba(108.14, 197.63, 63.4, 0.1) 100%);
}
.categories-3{
    border-radius: 30px;
    width: 180px;
    height: 202px;
    text-align: center;
    background: linear-gradient(180.00deg, rgba(204, 38, 27, 0) 0%,rgba(204, 38, 27, 0.1) 100%);
}
.categories-4{
    width: 180px;
    height: 202px;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(180.00deg, rgba(240, 158, 0, 0) 0%,rgba(240.13, 158.48, 0, 0.1) 100%);
}
.categories-5{
    width: 180px;
    height: 202px;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.05) 100%);
}
.categories-6{
    width: 180px;
    height: 202px;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.05) 100%);
}
/* recipes card section */
.recipes-card-section{
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    margin-bottom: 143px;
    justify-self: center;
}
.recipes-card{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.recipes-card-section h1{
    font-size: 48px;
    font-weight: 600;
}
.recipes-card-section>p{
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
    max-width: 706px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 96px;
}
.heart-1, .heart-2, .heart-4, .heart-6, .heart-7, .heart-8 img{
    filter: grayscale(100%);
}
.heart{
    position: absolute;
    left: 403.8px;
    top: 1761px;
}
.heart-background{
    background-color: white;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 400px;
    top: 1750px;
}
.heart-1{
    position: absolute;
    left: 845px;
    top: 1761px;
}
.heart-background-1{
    background-color: white;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 840.8px;
    top: 1750px;
}
.heart-2{
    position: absolute;
    left: 1280px;
    top: 1761px;
}
.heart-background-2{
    background-color: white;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 1275px;
    top: 1750px;
}
.heart-3{
    position: absolute;
    left: 403.8px;
    top: 2210px;
}
.heart-background-3{
    background-color: white;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 400px;
    top: 2200px;
}
.heart-4{
    position: absolute;
    left: 845px;
    top: 2210px;
}
.heart-background-4{
    background-color: white;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 840.8px;
    top: 2200px;
}
.heart-5{
    position: absolute;
    left: 403.8px;
    top: 2700px;
}
.heart-background-5{
    background-color: white;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 400px;
    top: 2690px;
}
.heart-6{
    position: absolute;
    left: 845px;
    top: 2700px;
}
.heart-background-6{
    background-color: white;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 840.8px;
    top: 2690px;
}
.heart-7{
    position: absolute;
    left: 1280px;
    top: 2700px;
}
.heart-background-7{
    background-color: white;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 1275px;
    top: 2690px;
}
.recipes-card-2, .recipes-card-3, .recipes-card-4, .recipes-card-5, .recipes-card-6, .recipes-card-7, .recipes-card-8{
    max-width: 400px;
    max-height: 417px;
}
.recipes-card-1, .recipes-card-2, .recipes-card-3, .recipes-card-4, .recipes-card-5, .recipes-card-6, .recipes-card-7, .recipes-card-8{
    max-width: 400px;
    border-radius: 30px;
    background: linear-gradient(180.00deg, rgba(231, 249, 253, 0) 0%,rgba(231, 249, 253, 1) 100%);
}
.recipes-card-1-btn, .recipes-card-2-btn, .recipes-card-3-btn, .recipes-card-4-btn, .recipes-card-5-btn, .recipes-card-6-btn, .recipes-card-7-btn, .recipes-card-8-btn{
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    gap: 24px;
    margin-left: 24px;
}
.recipes-card-1 h1, .recipes-card-2 h1, .recipes-card-3 h1, .recipes-card-4 h1, .recipes-card-5 h1, .recipes-card-6 h1, .recipes-card-7 h1, .recipes-card-8 h1{
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    padding-left: 24px;
    padding-top: 24px;
}
.btn-4{
    background-color: transparent;
    display: flex;
    border: none;
    align-items: center;
}
.btn-4 p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 10px;
}

/* chef section style */
.chef-section{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 160px;
}
.chef-section-text{
    align-self: center;
}
.chef-text h1{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -4%;
    margin-bottom: 24px;
}
.chef-text p{
    font-size: 16px;
    line-height: 28px;
    color: #0000008a;
    margin-bottom: 72px;
}
.btn-6{
    background-color: black;
    color: white;
    padding: 22px 53px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -2%;
    border: none;
    border-radius: 16px;
}
/* instagram section styles */
.instagram-section{
    text-align: center;
    background: linear-gradient(180.00deg, rgba(231, 249, 253, 0) 0%,rgba(231, 249, 253, 1) 100%);
}
.instagram-section-text h1{
    margin-top: 80px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 23px;
}
.instagram-section-text p{
    line-height: 28px;
    color: #0000008a;
    margin-bottom: 80px;
}
.instagram-section-card-1{
    margin-left: 80px;
}
.meta-data{
    display: flex;
    padding-top: 10px;
    width: 290px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    align-items: center;
    background-color: white;
}
.meta-data-logo h5{
    font-size: 10.05px;
    font-weight: 600;
    padding-left: 7.73px;
}
.ellipsis{
    padding-left: 160.4px;
}
.place{
    font-size: 8.51px;
    padding-bottom: 8.51px;
}
.img-1{
    width: 24.75px;
    height: 24.75px;
    padding-left: 7.7px;
    padding-bottom: 9px;
}
.instagram-section-card-footer{
    background-color: white;
    width: 290px;
    margin-left: 80px;
}
.instagram-icons{
    display: flex;
    justify-content: space-between;
    padding-top: 10.44px;
    padding-bottom: 10.76px;
}
.instagram-icons{
    width: 290px;
    background-color: white;
}
.save-icons{
    display: flex;
}
.ptofile img{
    width: 13.15px;
    height: 13.15px;
    padding-left: 11.05px;
}
.ptofile p{
    padding-bottom: 4px;
}
#love{
    padding-left: 11px;
}
#bookmark{
    padding-right: 11px;
}
.ptofile{
    display: flex;
}
.profile-text p{
    font-size: 10.05px;
    padding-left: 11.6px;
    text-align: left;
}
.date{
    text-align: left;
    font-size: 8.51px;
    color: #0000008e;
    padding-left: 11.6px;
    padding-bottom: 10.05px;
}
.video-description{
    padding-bottom: 10.05px;
}
.instagram-all-card{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.instagram-section-card-2{
    max-width: 290px;
}
.instagram-section-card-1 >.meta-data, .instagram-section-card-2 >.meta-data, .instagram-section-card-3 >.meta-data, .instagram-section-card-4 >.meta-data{
    margin-left: 0px;
}
.instagram-section-card-1 >.instagram-section-card-footer, .instagram-section-card-2 >.instagram-section-card-footer, .instagram-section-card-3 >.instagram-section-card-footer, .instagram-section-card-4 >.instagram-section-card-footer{
    margin-left: 0px;
}
.instagram-section-card-1, .instagram-section-card-2, .instagram-section-card-3, .instagram-section-card-4{
    width: 290px;
}

.btn-7{
    margin-top: 81px;
    background-color: black;
    color: white;
    padding: 22px 53px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 16px;
    margin-bottom: 80px;
}
#instagram{
    font-size: 22px;
}